@font-face {
    font-family: "Oswald";
    src: url('/src/assets/fonts/oswald/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 700;
}

@font-face {
    font-family: "Open Sans";
    src: url('/src/assets/fonts/opensans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 100 900;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    color: #F2F2F2;
}

h3 {
    font-family: 'Merriweather Sans', sans-serif;
    color: #111111;
}

h4 {
    font-family: 'Open Sans';
    color: #111111;
}


.transparant {
    background-color: #FFFFFF99;
}

.col-height-hero {
    height: 60vh;
}

